img.image-setup 
{
    border: 1px solid #000;
    width: 150px;
    border-radius: 0%;
    box-shadow: 10px 10px 20px 0 rgba(100, 20, 0, 0.25);
}

.card {
    margin-top: 0 !important;
    background: linear-gradient(
            to right,
            #d19e6d 0%,
            #d19e6d 75%,
            #f58026 75%,
            #f58026 80%,
            #de3e35 80%,
            #de3e35 85%,
            #b82e4d 85%,
            #b82e4d 90%,
            #8c2a6a 90%,
            #8c2a6a 95%,
            #6e327c 95%,
            #672c70 101% 
    );
    
    background-repeat: no-repeat;
    backface-visibility: hidden;
    transform: translateZ(0);
}

.card-header,
.card-footer {
    background-color: transparent !important;
    box-shadow: none;
    border: none;
}

.card-content{
    max-width: 1100px;
}


.header-text-settings{
    font-family: 'courier new', courier, monospace;
    font-size: 35pt;
}

.nav-tabs .nav-item .nav-link {
    border-radius: 0 !important;
    user-select: none;
    background-color: coral !important;
    border: none !important;
    color: #ffffff !important;
    font-size: 15pt;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: #8a3232 !important;
    color: #ffffff !important;
    border: none !important;
}

.nav-tabs .nav-item .nav-link:hover {
    background-color: #6a3c3c !important;
    color: #ffffff !important;
    border: none !important;
}

.nav-tabs .nav-item .nav-link:focus {
    background-color: #8a3232 !important;
    color: #ffffff !important;
    border: none !important;
}

.nav-tabs {
    border-bottom: none;
}

.gallery-img{
    width: 500px;
    height: auto; /* maintains aspect ratio */
    image-rendering: auto; /* lets browser optimize quality */
    border: 1px solid #000;
    border-radius: 0%;
    box-shadow: 10px 10px 20px 0 rgba(100, 20, 0, 0.25);
}


#myTab{
    background-color: dimgray !important;
    box-shadow: 10px 15px 20px 0 rgba(100, 20, 0, 0.25);
}

#about-tab, #projects-tab {
    font-family: 'courier new', courier, monospace;
}



#Velkommen-text 
{
    width: 500px;
    padding: 20px;
    background-color: darkgray;
    border-radius: 0;
    margin-top: 25px;
    margin-bottom: 25px;
}

#Description-text
{
    font-size: 15pt;
    font-family: 'Courier New', Courier, monospace;
    width: 1500px;
    height: 1500px;
    margin: 25px auto;
    border-radius: 0;
}

#Projects-text{
    font-size: 15pt;
    font-family: 'Courier New', Courier, monospace;
    width: 1500px;
    height: 1500px;
    margin: 25px auto;
    border-radius: 0;
}




#info-box{
    border: 1px solid #000;
}


body
{
    background-color: dimgray;
}

